<div class="container">
  <div class="header clearfix">
    <h3 #appTitle class="text-muted pull-left" routerLink="/home"></h3>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/cart">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            Cart <span class="badge">{{ (cart | async)?.total }}</span>
          </a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/login">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Login</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/admin">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Admin</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
      <!-- Routed views go here -->
    </div>
  </div>

  <router-outlet name="messages"></router-outlet>
</div>

<app-about></app-about>
