<div class="container">
  <div class="header clearfix">
    <h3 #appTitle class="text-muted pull-left" routerLink="/home"></h3>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/cart">Cart <span class="badge">{{ cartTotal }}</span></a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/admin">Admin</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/login">Login</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="col-md-8">
      <router-outlet></router-outlet>
      <!-- Routed views go here -->
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <router-outlet name="messages"></router-outlet>
</div>

<app-about></app-about>
