<div>
  <div>{{ cartItem.name }}</div>
  <div class="text-muted">{{ cartItem.price }}$</div>
</div>

<div class="item-qty-group">
  <button type="button" class="btn btn-default btn-xs" (click)="onDecrease()" [disabled]="cartItem.qty === 1">
    <span class="glyphicon glyphicon-minus"></span>
  </button>

  <span class="item-qty">{{ cartItem.qty }}</span>

  <button type="button" class="btn btn-default btn-xs" (click)="onIncrease()" [disabled]="cartItem.qty === 10">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
</div>

<div (click)="onDelete()" class="item-delete">&#215;</div>
