<div class="product-list-controls">
    <div class="btn-group categories" role="group">
      <button type="button" class="btn btn-default active">All</button>
      <button type="button" class="btn btn-default">Foliage</button>
      <button type="button" class="btn btn-default">Flowering</button>
      <button type="button" class="btn btn-default">Succulent</button>
    </div>

    <div class="product-list-sort">
      Sort by:
      <select [(ngModel)]="sortKey" (ngModelChange)="onChange($event, 'sortKey')">
        <option [ngValue]="'name'">Name</option>
        <option [ngValue]="'price'">Price</option>
      </select>
      <select [(ngModel)]="sortDir" (ngModelChange)="onChange($event, 'sortDir')">
        <option [ngValue]="false">asc</option>
        <option [ngValue]="true">desc</option>
      </select>
    </div>
</div>

<div class="row product-list">
  <div class="col-sm-6 col-md-4" *ngFor="let product of products | async | orderBy:sortKey:sortDir">
    <app-product [product] = "product" (buyProduct)="onBuyProduct($event)"></app-product>
  </div>
</div>

