.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-list-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-list-sort {
  display: flex;
}

.product-list-sort select {
  margin-left: 5px;
}
