<h3>Your cart</h3>
<div *ngIf="(cart | async)?.items.length; else elseBlock">
  <div class="list-group">
    <app-cart-item
      *ngFor="let item of (cart | async)?.items"
      [cartItem]="item"
      (deleteItem)="onDeleteItem($event)"
      (increment)="onIncrementItem($event)"
      (decrement)="onDecrementItem($event)"
      appHighlight></app-cart-item>
  </div>

  <div class="cart-totals">
    <p><span>Total items:</span> <span>{{ (cart | async)?.total }} pcs</span></p>
    <p><span>Sum:</span> <span>{{ (cart | async)?.sum }}$</span></p>
  </div>

  <div class="cart-buttons">
    <button class="btn btn-default btn-sm" (click)="emptyCart()">Empty cart</button>
    <button class="btn btn-primary btn-sm" (click)="checkout()">Checkout</button>
  </div>
</div>

<ng-template #elseBlock>
  <p>The cart is empty</p>
</ng-template>


