h3 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 34px;
}

.cart-totals p {
  display: flex;
  justify-content: space-between;
}

.cart-buttons {
  display: flex;
  justify-content: flex-end;
}

.cart-buttons .btn {
  margin-left: 5px;
}
