.thumbnail-image img {
  display: block;
  min-height: 100%;
  max-width: 100%;
}

.thumbnail-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 18px;
}
